* {
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    width: 16%;
    height: 100vh;
    position: sticky;
    top: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
}


body {
    margin: 0;
    display: flex;
}

section {
    width: 85%;
}


li {
    font-size: 12.8px;
    font-weight: 400;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

#welcome {
    background-image: url(img9.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;

    font-family: "Oswald";
    text-align: center;
    font-size: 64px;
    color: white;
}

.fundo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(60%);
    height: 100vh;
}

#lorem {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 33px;
}

#btn {
    margin-top: 30px;
    background-color: #df0e62;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: .1em;
    padding: 17px;
    border: 1px;
    border-radius: 30px;
    width: 160px;
    white-space: nowrap;
}

#elit {
    margin-bottom: 40px;
}

svg {
    fill: white;
    height: 12px;
    margin: 35px 10px 0 0;
}

#fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    gap: 4px;

}

#fotos div {
    width: 33%;
    height: 300px;

}


#fotos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 1s;
}

#testimonial {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 150px;

}

#testimonial h1 {
    font-family: "Oswald";
    font-size: 64px;
    font-weight: 400;
}

#person3 {
    border-radius: 50%;
}

#jean {
    font-family: "Quicksand";
    font-weight: 700;
    padding-top: 20px;
}

#lorem2 {
    font-family: "Quicksand";
    font-weight: 400px;
    font-size: 16px;
    color: grey;
    text-align: center;
    padding-top: 25px;
    line-height: 28px;
}

#biography {

    color: white;
    padding: 112px 0px;
    padding-left: 400px;
    background-color: #1a1a1a;

}

#biography h2 {
    font-family: "Oswald";
    font-size: 64px;
    font-weight: 400;
}

#biography2 {
    background-color: #1a1a1a;

}

#hi {
    font-family: "Oswald";
    font-size: 32px;
    padding-top: 40px;
}

#lorem3 {
    font-family: "Quicksand";
    font-weight: 400px;
    font-size: 16px;
    color: grey;
    line-height: 28px;
}

span {
    color: #df0e62;
    font-weight: 500;
}

#photographer {
    font-family: "Oswald";
    font-size: 28px;
    color: white;
    padding-top: 35px;
}

#tempore {
    padding-top: 15px;
}

#lista li {
    font-size: 16px;
}

#listaa ul {
    padding-top: 20px;
    line-height: 20px;
}

#blog {
    background-color: black;


}

#blog h2 {
    font-family: "Oswald";
    font-size: 64px;
    font-weight: 400;
}

#blog main {
    font-family: "Oswald";
    font-size: 64px;
    font-weight: 400;
    color: white;
    padding-left: 400px;
    padding-top: 100px;
}

#imagemblog {
    padding-left: 380px;
}

#imagemblog2 {
    padding-left: 380px;
}

#imagemblog3 {
    padding-left: 380px;
}

#imagemblog4 {
    padding-left: 380px;
}


#displayflex {
    display: flex;
}

#contact {
    background-color: #1a1a1a;

}

#numeros {
    font-family: "Quicksand";
    text-align: center;
    color: white;
    padding-top: 100px;
}

#contact main {
    font-family: "Oswald";
    font-size: 64px;
    font-weight: 400;
    color: white;
    padding-left: 400px;
    padding-top: 100px;
}

.textobranco {
    color: white;
    font-family: "Quicksand";

    margin-bottom: 0;

}

.display {
    display: flex;
}

.titulosbrancos {
    font-size: 24px;
    font-family: "Oswald";
    font-weight: 400;
}

#imgtxt {
    display: flex;
    column-count: 2;
}

#lista2 {
    display: flex;
}

.svgverde {
    fill: #8bc34a;
    height: 17px;
}

.blog-flex {
    display: flex;
    gap: 50px;
    line-height: 27px;
    padding: 25px;
}

#listaa {
    display: flex;
    gap: 200px;
   
}

.numbers {
    display: flex;
    justify-content: center;
    background-color: #000;
    gap: 40px;
    font-size: 16px;
    font-family: "Quicksand";
    padding-bottom: 150px;
    padding-top: 100px;
}



.corcinza{
    color: gray;
}

#listaa li {
    margin: 0;
    font-size: 16px;
}

.rosa {
    color: #df0e62;
    text-decoration: none;
}

a {
    text-decoration: none;
}